aside.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color:  var(--bg-dark);
}

aside.logo img {
    padding: 5px;
    width: 100%;
    height: var(--header-height);
}

aside.logo a:hover {
    background-color: rgba(255, 255, 255, 0.041);
}